<div data-options="dxView : { name: 'about_this_app', title: 'About this app' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxScrollView:{ }">
            <div class="center">
                <img src="images/NBA2018_logo.jpg" />
            </div>
            <div class="center">
                <p class="app_date">24-25 November 2018<br />10am-6pm</p>
            </div>
            <p><strong>Welcome to the North Bristol Art Trail 2018: over 100 artists exhibiting ceramics, drawing, jewellery, mixed-media, mosaic, painting, printmaking, photography, sculpture and textiles.</strong></p>
            <p><strong>This app will help you to find your way around the trail and to find artists who are right up your street (maybe even literally!).</strong></p>
            <h2 class="pseudo-link" onClick="MyApp.app.navigate('map_page')"><i class="fa fa-map-marker icon-margin-right sba_pink"></i>Map</h2>
            <p>The map shows all venues in the trail. Click on any marker to see a list of artists at that venue; click on any artist name for more info about the artist. Click the blue location button at the bottom of the map to see your current location (if you're not currently near the trail, just click the location button again to be returned to the centre of the trail).</p>
            <h2 class="pseudo-link" onClick="MyApp.app.navigate('artist_list')"><i class="fa fa-search icon-margin-right sba_pink"></i>Search</h2>
            <p>You can type anything you like in the search box. Perhaps you want to find 'screenprints', 'ceramics' or 'gifts'. You might know the name of an artist such as 'Clare Cutts' or 'Mary Collett'. You can type the name of a specific venue such as 'Eco House' or the name of a street such as 'North Road', 'Effingham' or 'Logan'.</p>
            <p>If your search doesn't return any results try fewer words so that it's not too specific; for example to find screenprinting it would be best to search just the word 'screen' or for lino printing search using only the word 'lino'.</p>
            <h2><i class="fa fa-bars icon-margin-right sba_pink"></i>Menu</h2>
            <p>Use the menu icon at the top left corner of the screen to access the map and search.</p>
            <h2><i class="fa fa-share-alt icon-margin-right sba_pink"></i>Share</h2>
            <p>Please follow us and share your experience of the Art Trail with us.</p>
            <p><a href="https://www.instagram.com/northbristolartists" target="_blank"><i class="fa fa-instagram icon-margin-right sba_pink"></i>@northbristolartists</a></p>
            <p><a href="https://www.twitter.com/NBAarttrail" target="_blank"><i class="fa fa-twitter-square icon-margin-right sba_pink"></i>@NBAarttrail</a></p>
            <p><a href="https://www.facebook.com/NBAarttrail/" target="_blank"><i class="fa fa-facebook-square icon-margin-right sba_pink"></i>@NBAarttrail</a><br />&nbsp;</p>
            <h2><i class="fa fa-gears icon-margin-right sba_pink"></i>App developers</h2>
            <p>This app has been produced by Bristol-based digital developers <a href="http://apps.cactus.co.uk" target="_blank">Cactus</a>. We publish other apps too. The <a href="http://apps.cactus.co.uk/banksy-bristol" target="_blank">Banksy Bristol Trail</a> shows you the street-artist's remaining works in his home town. It also includes in-depth articles and photographs from the bestselling book Banksy's Bristol published by Bristol's own Tangent Books. The app includes a discount code for a whopping 25% off the price of the book!</p>
            
            <p>Feedback is very welcome. If you have any comments about this app please send them to <a href="mailto:apps@cactus.co.uk?subject=NBA 2018 app feedback">apps@cactus.co.uk</a>. You can <a href="https://www.facebook.com/cactusappsuk" target="_blank">follow us on Facebook</a> too for news of our latest apps. Just search on Facebook for cactusappsuk.</p>
            <div class="article-pix"><a href="http://apps.cactus.co.uk" target="_blank"><img src="images/logo-cactus.png" class="article-pix" /></a></div>
    	</div>
	</div>
…</div>