<div data-options="dxView : { name: 'banksys_bristol', title: 'Shameless self-promotion' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
            <h2><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank">Banksy Bristol Trail App</a></h2>
            <p>Produced by Cactus (who developed the Arts Trail app that you're using right now) the <a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank">Banksy Bristol Trail App</a> is a guide to the renowned street-artist's remaining works in his home town. Easy-to-use navigation takes you on a trail of Banksy artwork around Bristol.</p>
            <p>Also includes articles with photos about Banksy's June 2016 gift to a Bristol primary school, the Banksy vs Bristol Museum show and Dismaland, described by Banksy himself as "The UK's most disappointing new visitor attraction".</p>
            <div class="article-pix"><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank"><img src="images/banksy-advert/1.jpg" class="article-pix no-border" /></a></div>
            <div class="article-pix"><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank"><img src="images/banksy-advert/bridge-farm.jpg" class="article-pix no-border" /></a></div>
            <div class="article-pix"><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank"><img src="images/banksy-advert/2.jpg" class="article-pix no-border" /></a></div>
            <div class="article-pix"><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank"><img src="images/banksy-advert/3.jpg" class="article-pix no-border" /></a></div>
            <div class="article-pix"><a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank"><img src="images/banksy-advert/5.jpg" class="article-pix no-border" /></a></div>
            <p>Produced in conjunction with Bristol's leading independent publisher Tangent Books, the <a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank">Banksy Bristol Trail App</a> includes a discount code for a whopping 25% off their best-selling book: <em>Banksy's Bristol, Home Sweet Home</em>. The discount will save you more than the cost of the app!</p>
            <p>What are you doing next weekend? <a href="http://apps.cactus.co.uk/banksy-bristol/" target="_blank">Get the app here!</a></p>
            
            <div class="article-pix"><img src="images/banksy-advert/home-sweet-home.jpg" class="article-pix no-border" /></div>
		</div>
    </div>
</div>