
<div data-options="dxView : { name: 'disclaimer', title: 'Careful now' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div data-bind="dxScrollView: {}">
			<h1>Disclaimer</h1>
                <p><strong><em>Careful now!</em></strong> Remember everything your mum told you.</p>
                <p>This app provides a great way to navigate your way around the North Bristol Art Trail. However, something terrible could happen to you while you're using it. Don't blame us! Keep your wits about you and remember not to stare moronically at the screen when you should be keeping your eyes peeled for the sake of your own welfare and the welfare of those around you.</p>
                <p class="boring_small_print">Cactus Data Ltd and the organisers of the North Bristol Art Trail accept no responsibility for loss, damage, personal injury, etc that occurs as a direct or indirect result of using this smartphone app. It is the responsibility of the user to take reasonable precautions while using this smartphone app.</p>
		</div>
    </div>
</div>