<div data-options="dxView : { name: 'elephant', title: 'Thank you to Elephant' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxScrollView:{ }">
            <p>NBA would like to thank our new signage sponsors Elephant for really drawing attention to our art trail venues.  We have been lucky to have had sponsorship before, but for reasons beyond their control we were told last minute that we couldn't have our previous signs this year. NBA mobilised and happily members were able to persuade Elephant that to be our associate would promote both the art trail and their estate agent services.</p>
            <p>We have been very impressed with the quality of their design, signs and installation process. For NBA having good signage for 3 years is invaluable, we are run by volunteers and the trail is run to promote our member's art, not to profit NBA. So please enjoy this app and enjoy seeing art in the flesh this Art Trail Weekend - you will find our venues very easily thanks to the excellent signs!</p>
            <p>Candida Lonsdale<br /><em>Chair, North Bristol Artists</em>&nbsp;<i class="fa fa-arrow-circle-down sba_pink"></i></p>
            <p>&nbsp;</p>
            
            <div class="center">
                <a href="http://www.elephantlovesbristol.co.uk/" target="_blank"><img src="images/elephant_logo.jpg" /></a>
            </div>
            
            <p>The elephant team strives to create an experience that we ourselves would want; to make the challenging process of buying and selling homes just that little bit easier.</p>
            <p>We have all bought, sold and renovated our own homes feeling every emotion along the way. We fully appreciate that buying a home is a carefully considered process which requires a helping hand and not one to push. With this in mind, we have taken great care to create a relaxed office environment so people will feel welcome and talk to us with ease.</p>
            <p>Time and time again, glowing feedback tells us that we stand out from the crowd. In a recent survey, our customers volunteered our top 3 traits as ‘friendly, approachable, and honest’. To add to this we are energetic, enthusiastic and we genuinely care about doing a good job for you.</p>
    	</div>
	</div>
…</div>