<div data-options="dxView : { name: 'update_app', title: 'Update your app' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div data-bind="dxScrollView:{ }">
            <h1>PLEASE UPDATE YOUR APP BEFORE VISITING THE ARTS TRAIL</h1>
            <h2>If there are any last-minute changes to the trail, this app will be updated to include details. Please update this app just before you visit the trail to make sure that you have the most up-to-date information.</h2>
            <!---h2 class="pseudo-link" onClick="MyApp.app.navigate('map_page')"><i class="fa fa-map-marker icon-margin-right sba_pink"></i>Tap here to start using the app&hellip;</h2-->
            <!--h2><i class="fa fa-apple icon-margin-right sba_pink"></i>iPhone</h2>
            <p>Just open the AppStore and tap on 'Updates'. Look down the list for NBA Trail and tap the update button next to it.</p-->
            <h2><i class="fa fa-android icon-margin-right sba_pink"></i>Android</h2>
            <ul>
                <li>Find the Google Play Store icon from the app drawer or your home screen and launch it.</li>
                <li>In the Play Store, tap on the 'Menu' icon. You will find the 'My Apps' option listed. Tap on it to see all of the apps you have installed.</li>
                <li>Look down the list for SBA Trail and tap the update button next to it.</li>
            </ul>
            <p>&nbsp;</p>
            <h2 class="pseudo-link" onClick="MyApp.app.navigate('map_page')"><i class="fa fa-map-marker icon-margin-right sba_pink"></i>Tap here to start using the app&hellip;</h2>
            <p>&nbsp;</p>
    	</div>
	</div>
…</div>